.nav-link:hover {
  color: #ffe600 !important;
  text-decoration: underline;
}
/* body{
  background-image: url(/images/farm.jpg);
  background-size: cover;
  background-position: center;
} */

.social{
    font-size: 30px;
   }
   .bi-facebook {
    color: rgb(24, 24, 133);
    
   }
   .bi-instagram{
    color: red;
   
   } 
   form{
    border: 2px solid black;
    border-radius: 20px;
   }

  

