.nav-link:hover {
  color: #ffe600 !important;
  text-decoration: underline;
}



.carousel-item{
            width: 110rem;
        } 
        h1{
            font-weight: 900;   
            font-size:50px;
        }

       .carousel-caption {
      text-align: left;
      left: 20%;
      right: auto;
      bottom: 30%;
      max-width: 400px;
      animation: slideIn 1.5s ease-in;
    }

    /* text moving */
    @keyframes slideIn {
      from {
        transform: translateX(100px);
        
      }
      to {
        transform: translateX(0);
        
      }
    }

    .carousel-caption h5 {
      font-size: 30px;
      font-weight: bold;
      text-shadow: 2px 2px 8px rgba(54, 19, 19, 0.6);
    }

    .carousel-caption p {
      font-size: 20px;
      text-shadow: 1px 1px 6px rgba(37, 34, 34, 0.5);
    }
     .card:hover {
      transform: translateY(-8px);
      box-shadow: 0 8px 20px rgba(0,0,0,0.2);
    }
    .container{
        display: flex;
        justify-content: space-evenly;
       
    }
    h3{
        text-decoration: underline;
    }
  
   .social{
    font-size: 30px;
   }
   .bi-facebook {
    color: rgb(24, 24, 133);
    
   }
   .bi-instagram{
    color: red;
   
   } 