.nav-link:hover {
  color: #ffe600 !important;
  text-decoration: underline;
}



 .carousel-item {
  width: 100%;   /* full width */
}


        h1{
            font-weight: 900;   
            font-size:50px;
        }

       .carousel-caption {
      position: absolute;
      top: 30%;           /* move to middle */
      max-width: 500px;   /*  text width */
      animation: slideIn 1.5s ease-in;
    }

    /* text moving */
    @keyframes slideIn {
      from {
        transform: translateX(500px);
        
      }
      to {
        transform: translateX(0);
        
      }
    }

    .carousel-caption{
      font-size: 30px;
      font-weight: bold;
      text-shadow: 2px 2px 8px rgba(54, 19, 19, 0.6);
    }

    .carousel-caption p {
      font-size: 20px;
      text-shadow: 1px 1px 6px rgba(37, 34, 34, 0.5);
    }
     .card:hover {
      transform: translateY(-8px);
      box-shadow: 0 8px 20px rgba(0,0,0,0.2);
    }
    .container{
        display: flex;
        justify-content: space-evenly;
       
    }
    h3{
        text-decoration: underline;
    }
  
   .social{
    font-size: 30px;
   }
   .bi-facebook {
    color: rgb(24, 24, 133);
    
   }
   .bi-instagram{
    color: red;
   
   } 



   /* for mobile view */
   @media (max-width: 767px) {
   
    .carousel-caption {
      position: absolute;
      top: 5%;           /* move to middle */
      max-width: 500px;   /*  text width */
      transform: translateY(-5px);   /*  for text center */
      transform: translatex(-80px);    /*  for text on left side */
      animation: slideIn 1.5s ease-in;
    }
    .carousel-caption h1{
      font-size: 10px;
    }
    .carousel-caption h4{
      font-size: 8px;
    }
    .carousel-caption p{
      font-size: 6px;
    }
    .carousel-caption .btn{
       font-size: 6px;
       margin-bottom: 60px;
       padding: 4px;
     
      
    }
   

   }
   .carousel-inner{
    border-radius: 20px;
   }
   .d_shadow{
    filter: drop-shadow(15px 8px 50px goldenrod);
    
   }
   .container{
    width: 500px;
    height: 600px;
     box-sizing: border-box;
     box-shadow: 0 4px 10px rgba(0,0,0,0.1);
     border-radius: 10px;
   }
    .container:hover {
      transform: translateY(-8px);
      box-shadow: 0 8px 20px rgba(0,0,0,0.2);
      
    }
    .d_shadow:hover{
      transform: scale(1.2);
      overflow: hidden;

    }

      @media (max-width: 915px) {
        
       .container{
    width: 500px;
    height: 800px;
     box-sizing: border-box;
     box-shadow: 0 4px 10px rgba(0,0,0,0.1);
     border-radius: 10px;
   }
       
       
       
       
        .d_shadow:hover{
      transform: none !important;
      overflow: hidden;
       }

        
      }
       body {
        
  margin: 0;
  padding: 0;
  overflow-x: hidden; /* no sideways scroll */
}